<nav>
	<div class="nav-wrapper">
		<a href="#/dashboard" class="brand-logo">AEIRS</a>
		<a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
		<ul class="right hide-on-med-and-down">
			<li><a ng-if="userLevel==0" href="#/faculty/allUsers" class="waves-effect waves-light">View All Users</a></li>
			<li><a ng-if="userLevel==0" href="#/faculty/createUser" class="waves-effect waves-light">Create New User</a></li>
			<li><a ng-if="userLevel==0" href="#/allClasses" class="waves-effect waves-light">View All School Years</a></li>
			<li><a ng-if="userLevel==0" href="#/new_class" class="waves-effect waves-light">Create New School Year</a></li>
			<li><a href="#/students" class="waves-effect waves-light">View Student Records</a></li>
			<li><a href="#/dashboard" class="waves-effect waves-light">Dashboard</a></li>
			<li><a ng-click='logout()' class="waves-effect waves-light">Log Out</a></li>
		</ul>
		<ul class="side-nav" id="mobile-demo">
			<li><a ng-if="userLevel==0" href="#/faculty/allUsers" class="waves-effect waves-light">View All Users</a></li>
			<li><a ng-if="userLevel==0" href="#/faculty/createUser" class="waves-effect waves-light">Create New User</a></li>
			<li><a ng-if="userLevel==0" href="#/allClasses" class="waves-effect waves-light">View All School Years</a></li>
			<li><a ng-if="userLevel==0" href="#/new_class" class="waves-effect waves-light">Create New School Year</a></li>
			<li><a href="#/students" class="waves-effect waves-light">View Student Records</a></li>
			<li><a href="#/dashboard" class="waves-effect waves-light">Dashboard</a></li>
			<li><a ng-click='logout()' class="waves-effect waves-light">Log Out</a></li>
		</ul>
	</div>
</nav>
<h2>Add student to a section</h2>
<div class="container">
		<form name="studentRegistrationForm">
			<div class="row">
				<div class="col s12 m3 l3">
					<div class="row">
						<div class="input-field col s12">
							<input id="studentRegistrationFormStudentID" type="number" class="validate" name="studentRegistrationFormStudentID" ng-model="studentRegistrationData.studentRegistrationFormStudentID" required>
							<label for="studentRegistrationFormStudentID">Student ID</label>
						</div>
					</div>
					<div class="row">
						<div class="input-field col s12">
							<input id="studentRegistrationFormEmail" type="text" class="validate" name="studentRegistrationFormEmail" ng-model="studentRegistrationData.studentRegistrationFormEmail" required>
							<label for="studentRegistrationFormEmail">Student E-mail</label>
						</div>
					</div>
					<div class="row">
						<div class="input-field col s12">
							<input id="studentregistrationFormPhone" type="number" class="validate" name="studentregistrationFormPhone" ng-model="studentRegistrationData.studentregistrationFormPhone" required>
							<label for="studentregistrationFormPhone">Student Phone Number</label>
						</div>
					</div>
				</div>
				<div class="col s12 m3 l3">
					<div class="row">
						<div class="input-field col s12">
							<input id="studentRegistrationFormStudentFirstName" type="text" class="validate" name="studentRegistrationFormStudentFirstName" ng-model="studentRegistrationData.studentRegistrationFormStudentFirstName" required>
							<label for="studentRegistrationFormStudentFirstName">Student First Name</label>
						</div>
					</div>
					<div class="row">
						<div class="input-field col s12">
							<input id="studentRegistrationFormStudentMiddleName" type="text" class="validate" name="studentRegistrationFormStudentMiddleName" ng-model="studentRegistrationData.studentRegistrationFormStudentMiddleName" required>
							<label for="studentRegistrationFormStudentMiddleName">Student Middle Name</label>
						</div>
					</div>
					<div class="row">
						<div class="input-field col s12">
							<input id="studentRegistrationFormStudentLastName" type="text" class="validate" name="studentRegistrationFormStudentLastName" ng-model="studentRegistrationData.studentRegistrationFormStudentLastName" required>
							<label for="studentRegistrationFormStudentLastName">Student Last Name</label>
						</div>
					</div>
				</div>
				<div class="col s12 m3 l3">
					<div class="row">
						<div class="input-field col s12">
							<input id="studentRegistrationFormMotherFirstName" type="text" class="validate" name="studentRegistrationFormMotherFirstName" ng-model="studentRegistrationData.studentRegistrationFormMotherFirstName" required>
							<label for="studentRegistrationFormMotherFirstName">Mother First Name</label>
						</div>
					</div>
					<div class="row">
						<div class="input-field col s12">
							<input id="studentRegistrationFormMotherMiddleName" type="text" class="validate" name="studentRegistrationFormMotherMiddleName" ng-model="studentRegistrationData.studentRegistrationFormMotherMiddleName" required>
							<label for="studentRegistrationFormMotherMiddleName">Mother Middle Name</label>
						</div>
					</div>
					<div class="row">
						<div class="input-field col s12">
							<input id="studentRegistrationFormMotherLastName" type="text" class="validate" name="studentRegistrationFormMotherLastName" ng-model="studentRegistrationData.studentRegistrationFormMotherLastName" required>
							<label for="studentRegistrationFormMotherLastName">Mother Last Name</label>
						</div>
					</div>
				</div>
				
				<div class="col s12 m3 l3">
					<div class="row">
						<div class="input-field col s12">
							<input id="studentRegistrationFormFatherFirstName" type="text" class="validate" name="studentRegistrationFormFatherFirstName" ng-model="studentRegistrationData.studentRegistrationFormFatherFirstName" required>
							<label for="studentRegistrationFormFatherFirstName">Father First Name</label>
						</div>
					</div>
					<div class="row">
						<div class="input-field col s12">
							<input id="studentRegistrationFormFatherMiddleName" type="text" class="validate" name="studentRegistrationFormFatherMiddleName" ng-model="studentRegistrationData.studentRegistrationFormFatherMiddleName" required>
							<label for="studentRegistrationFormFatherMiddleName">Father Middle Name</label>
						</div>
					</div>
					<div class="row">
						<div class="input-field col s12">
							<input id="studentRegistrationFatherLastName" type="text" class="validate" name="studentRegistrationFatherLastName" ng-model="studentRegistrationData.studentRegistrationFatherLastName" required>
							<label for="studentRegistrationFatherLastName">Father Last Name</label>
						</div>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col s12 m3 l3">
					<div class="row">
						<div class="input-field col s12">
							<input id="studentRegistrationFormParentPhoneNumber" type="number" class="validate" name="studentRegistrationFormParentPhoneNumber" ng-model="studentRegistrationData.studentRegistrationFormParentPhoneNumber" required>
							<label for="studentRegistrationFormParentPhoneNumber">Parent Phone Number</label>
						</div>
					</div>
					<div class="row">
						<div class="input-field col s12">
							<input id="studentRegistrationFormParentEmail" type="text" class="validate" name="studentRegistrationFormParentEmail" ng-model="studentRegistrationData.studentRegistrationFormParentEmail" required>
							<label for="studentRegistrationFormParentEmail">Parent Email</label>
						</div>
					</div>
				</div>
				<div class="col s12 m3 l3">
					<div class="row">
						<div class="input-field col s12">
							<button class="btn waves-effect waves-light" ng-click="studentRegister()" ng-disabled="studentRegistrationForm.$invalid">Register Student</button>
						</div>
					</div>
				</div>
			</div>
		</form>
	</div>
	
