<h2>All Classes</h2>
<a href="#/new_class">Add a Class </a>
<hr>
<div ng-repeat="class in classes">
	<h3>School Year: {{class.school_year}}</h3>
	<h4><a href="#/class/{{class._id}}">See Associated Grade Levels</a></h4>
	<div ng-repeat="g in grade_levels">
		Grade: {{g._id}}
	</div>
	<hr>
</div>
{{classes}}


<!-- 
	<div ng-repeat= "student in students">
		<h3>Student Name: {{student.student_first}} {{student.student_last}}</h3>
		<h4>Student ID: {{student.student_id}}</h4>
		<h4>Student Email: {{student.student_email}}</h4>
		<h4><a href="#/students/{{student._id}}">Show Student Record</a></h4>
		<h4><a href="#/students/{{student._id}}/edit">Edit Student Record</a></h4>
		<h4><a href="#/student/{{student._id}}">Delete Student</a></h4>
		<hr>
	</div> -->