<nav>
	<div class="nav-wrapper">
		<a href="#/dashboard" class="brand-logo">AEIRS</a>
		<a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
		<ul class="right hide-on-med-and-down">
			<li><a ng-if="userLevel==0" href="#/faculty/allUsers" class="waves-effect waves-light">View All Users</a></li>
			<li><a ng-if="userLevel==0" href="#/faculty/createUser" class="waves-effect waves-light">Create New User</a></li>
			<li><a ng-if="userLevel==0" href="#/allClasses" class="waves-effect waves-light">View All School Years</a></li>
			<li><a ng-if="userLevel==0" href="#/new_class" class="waves-effect waves-light">Create New School Year</a></li>
			<li><a href="#/students" class="waves-effect waves-light">View Student Records</a></li>
			<li><a href="#/dashboard" class="waves-effect waves-light">Dashboard</a></li>
			<li><a ng-click='logout()' class="waves-effect waves-light">Log Out</a></li>
		</ul>
		<ul class="side-nav" id="mobile-demo">
			<li><a ng-if="userLevel==0" href="#/faculty/allUsers" class="waves-effect waves-light">View All Users</a></li>
			<li><a ng-if="userLevel==0" href="#/faculty/createUser" class="waves-effect waves-light">Create New User</a></li>
			<li><a ng-if="userLevel==0" href="#/allClasses" class="waves-effect waves-light">View All School Years</a></li>
			<li><a ng-if="userLevel==0" href="#/new_class" class="waves-effect waves-light">Create New School Year</a></li>
			<li><a href="#/students" class="waves-effect waves-light">View Student Records</a></li>
			<li><a href="#/dashboard" class="waves-effect waves-light">Dashboard</a></li>
			<li><a ng-click='logout()' class="waves-effect waves-light">Log Out</a></li>
		</ul>
	</div>
</nav>
<h2>Sections for Year: {{sections._class.school_year}}, {{sections.grade_level}}</h2>

<div ng-repeat="x in sections.sections">
	<h3><a href="#/section/{{x._id}}">{{x.section}}</a></h3>
	<hr>
</div>
<script>
	(function($){
		$(function(){
			$('.button-collapse').sideNav();
  }); // end of document ready
})(jQuery); // end of jQuery name space

</script>
