<nav>
	<div class="nav-wrapper">
		<a href="#/dashboard" class="brand-logo">AEIRS</a>
		<a href="" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
		<ul class="right hide-on-med-and-down">
			<li><a ng-if="userLevel==0" href="#/faculty/allUsers" class="waves-effect waves-light">View All Users</a></li>
			<li><a ng-if="userLevel==0" href="#/faculty/createUser" class="waves-effect waves-light">Create New User</a></li>
			<li><a ng-if="userLevel==0" href="#/allClasses" class="waves-effect waves-light">View All School Years</a></li>
			<li><a ng-if="userLevel==0" href="#/new_class" class="waves-effect waves-light">Create New School Year</a></li>
			<li><a href="#/students" class="waves-effect waves-light">View Student Records</a></li>
			<li><a href="#/dashboard" class="waves-effect waves-light">Dashboard</a></li>
			<li><a ng-click='logout()' class="waves-effect waves-light">Log Out</a></li>
		</ul>
		<ul class="side-nav" id="mobile-demo">
			<li><a ng-if="userLevel==0" href="#/faculty/allUsers" class="waves-effect waves-light">View All Users</a></li>
			<li><a ng-if="userLevel==0" href="#/faculty/createUser" class="waves-effect waves-light">Create New User</a></li>
			<li><a ng-if="userLevel==0" href="#/allClasses" class="waves-effect waves-light">View All School Years</a></li>
			<li><a ng-if="userLevel==0" href="#/new_class" class="waves-effect waves-light">Create New School Year</a></li>
			<li><a href="#/students" class="waves-effect waves-light">View Student Records</a></li>
			<li><a href="#/dashboard" class="waves-effect waves-light">Dashboard</a></li>
			<li><a ng-click='logout()' class="waves-effect waves-light">Log Out</a></li>
		</ul>
	</div>
</nav>

<h2>Assign Faculty to Section</h2>
{{faculty}}

<div ng-repeat="x in faculty">
	<p>{{x.firstName}} {{x._id}}</p>
</div>
<select ng-options="item as item.label for item in items track by item.id" ng-model="selected"></select>

<form action="">
	<label for = "selectFaculty">Who teaches this section?</label>
	<!-- <select name="selectFaculty" id="selectFaculty" ng-options="x.firstName for x in faculty track by x._id" ng-model="faculty.selected"></select> -->
<!-- 
	<select name="mySelect" id="mySelect"
      ng-options="option.firstName for option in faculty track by option._id"
      ng-model="faculty.selectedOption"></select> -->
	<!-- <select name="facultySelect" id="facultySelect" ng-model="facultySelect">
		<option value="">---Please select---</option>
		<option ng-repeat="x in faculty"></option>
	</select><br> -->
	<!-- <select ng-model="Faculty">
		<option value = "0" label = "Please Select"></option>
		<option ng-repeat="x in faculty" value="{{x._id}}">{{x.firstName}}</option>
	</select> -->
	<button ng-click="createClass()">Submit</button>	
</form> 
<script src="js/init.js"></script>
<script>
	(function($){
		$(function(){
			$('.button-collapse').sideNav();
  }); // end of document ready
})(jQuery); // end of jQuery name space

</script>