<nav>
    <div class="nav-wrapper">
        <a href="#/dashboard" class="brand-logo">DBAES</a>
        <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
        <ul class="right hide-on-med-and-down">
            <li><a ng-if="userLevel==0" href="#/faculty/allUsers" class="waves-effect waves-light">View All Users</a></li>
            <li><a ng-if="userLevel==0" href="#/faculty/createUser" class="waves-effect waves-light">Create New User</a></li>
            <li><a ng-if="userLevel==0" href="#/allClasses" class="waves-effect waves-light">View All School Years</a></li>
            <li><a ng-if="userLevel==0" href="#/new_class" class="waves-effect waves-light">Create New School Year</a></li>
            <li><a ng-if="userLevel==0" href="#/students" class="waves-effect waves-light">View Student Records</a></li>
            <li><a href="#/dashboard" class="waves-effect waves-light">Dashboard</a></li>
            <li><a ng-click='logout()' class="waves-effect waves-light">Log Out</a></li>
        </ul>
        <ul class="side-nav" id="mobile-demo">
            <li><a ng-if="userLevel==0" href="#/faculty/allUsers" class="waves-effect waves-light">View All Users</a></li>
            <li><a ng-if="userLevel==0" href="#/faculty/createUser" class="waves-effect waves-light">Create New User</a></li>
            <li><a ng-if="userLevel==0" href="#/allClasses" class="waves-effect waves-light">View All School Years</a></li>
            <li><a ng-if="userLevel==0" href="#/new_class" class="waves-effect waves-light">Create New School Year</a></li>
            <li><a ng-if="userLevel==0" href="#/students" class="waves-effect waves-light">View Student Records</a></li>
            <li><a href="#/dashboard" class="waves-effect waves-light">Dashboard</a></li>
            <li><a ng-click='logout()' class="waves-effect waves-light">Log Out</a></li>
        </ul>
    </div>
</nav>
<h3>Add New User</h3>
<form ng-model = "registration" ng-submit = "register()">
    <!-- <h3>Join Us!</h3> -->
    {{errors}}
    {{errors.userName.message}}
    <div><input type="text" ng-model = "registration.userName" placeholder= "User Name"></div>
    {{errors.firstName.message}}
    <div><input type="text" ng-model = "registration.firstName" placeholder= "First Name"></div>
    {{errors.middleName.message}}
    <div><input type="text"  ng-model = "registration.middleName" placeholder= "Middle Name"></div>
    {{errors.lastName.message}}
    <div><input type="text"  ng-model = "registration.lastName" placeholder= "Last Name"></div>
    {{errors.emailAddress.message}}
    <div><input type="text"  ng-model = "registration.emailAddress" placeholder= "Email Address"></div>
    {{errors.phoneNumber.message}}
    <div><input type="text"  ng-model = "registration.phoneNumber" placeholder= "Phone Number"></div>
    {{errors.password.message}}
    <div><input type="password"  ng-model = "registration.password" placeholder= "Password"></div>
    <div><input type="password" ng-model = "registration.confirm_password" placeholder= "Confirm Password"></div>
  	<div><input type="submit" value = "Register"></div>
  </form>
</br>
<script>
    (function($){
        $(function(){
            $('.button-collapse').sideNav();
  }); // end of document ready
})(jQuery); // end of jQuery name space

</script>