<h2>This partial is to add a student</h2>

<form action="">
	First Name: <input type="text" ng-model="newStudent.student_first">
	Middle Name: <input type="text" ng-model="newStudent.student_middle">
	Last Name: <input type="text" ng-model="newStudent.student_last">
	Student ID: <input type="text" ng-model="newStudent.student_id">
	Student Email: <input type="text" ng-model="newStudent.student_email">
	Student Phone: <input type="text" ng-model="newStudent.student_phone">
	Mother First Name: <input type="text" ng-model="newStudent.mother_first">
	Mother Middle Name: <input type="text" ng-model="newStudent.mother_middle">
	Mother Last Name: <input type="text" ng-model="newStudent.mother_last">
	Father First Name: <input type="text" ng-model="newStudent.father_first">
	Father Middle Name: <input type="text" ng-model="newStudent.father_middle">
	Father Last Name: <input type="text" ng-model="newStudent.father_last">
	Parent Email: <input type="text" ng-model="newStudent.student_email">
	Parent Phone: <input type="text" ng-model="newStudent.student_phone">
	<input type="submit" ng-click="createStudent()">
</form>
