<h2>This partial is to add a class level</h2>
<form action="">
	Class: <input type="text" ng-model="newClass.school_year">
	<select ng-model="newClass.gradeLevel_quantity">
		<option value="" disabled selected>Choose Option</option>
		<option value="1">1</option>
		<option value="2">2</option>
		<option value="3">3</option>
		<option value="4">4</option>
		<option value="5">5</option>
		<option value="6">6</option>
		<option value="7">7</option>
		<option value="8">8</option>
		<option value="9">9</option>
		<option value="10">10</option>
		<option value="11">11</option>
		<option value="12">12</option>
	</select>
	<label>Materialize Select</label>
	<!-- <input type="number" ng-model="newClass.gradeLevel_quantity">-->
	<button ng-click="createClass()">Submit</button>	
	<!-- <input type="button" ng-click="createClass()"> -->
</form>
<script src="js/init.js"></script>
