<h3>Add New User</h3>
<form ng-model = "registration" ng-submit = "register()">
    <!-- <h3>Join Us!</h3> -->
    {{errors}}
    {{errors.userName.message}}
    <div><input type="text" ng-model = "registration.userName" placeholder= "User Name"></div>
    {{errors.firstName.message}}
    <div><input type="text" ng-model = "registration.firstName" placeholder= "First Name"></div>
    {{errors.middleName.message}}
    <div><input type="text"  ng-model = "registration.middleName" placeholder= "Middle Name"></div>
    {{errors.lastName.message}}
    <div><input type="text"  ng-model = "registration.lastName" placeholder= "Last Name"></div>
    {{errors.emailAddress.message}}
    <div><input type="text"  ng-model = "registration.emailAddress" placeholder= "Email Address"></div>
    {{errors.phoneNumber.message}}
    <div><input type="text"  ng-model = "registration.phoneNumber" placeholder= "Phone Number"></div>
    {{errors.password.message}}
    <div><input type="password"  ng-model = "registration.password" placeholder= "Password"></div>
    <div><input type="password" ng-model = "registration.confirm_password" placeholder= "Confirm Password"></div>
  	<div><input type="submit" value = "register"></div>
  </form>
</br>