<nav>
	<div class="nav-wrapper">
		<a href="#/dashboard" class="brand-logo">AEIRS</a>
		<a href="#/" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
		<ul class="right hide-on-med-and-down">
			<li><a ng-if="userLevel==0" href="#/faculty/allUsers" class="waves-effect waves-light">View All Users</a></li>
			<li><a ng-if="userLevel==0" href="#/faculty/createUser" class="waves-effect waves-light">Create New User</a></li>
			<li><a ng-if="userLevel==0" href="#/allClasses" class="waves-effect waves-light">View All School Years</a></li>
			<li><a ng-if="userLevel==0" href="#/new_class" class="waves-effect waves-light">Create New School Year</a></li>
			<li><a href="#/students" class="waves-effect waves-light">View Student Records</a></li>
			<li><a href="#/dashboard" class="waves-effect waves-light">Dashboard</a></li>
			<li><a ng-click='logout()' class="waves-effect waves-light">Log Out</a></li>
		</ul>
		<ul class="side-nav" id="mobile-demo">
			<li><a ng-if="userLevel==0" href="#/faculty/allUsers" class="waves-effect waves-light">View All Users</a></li>
			<li><a ng-if="userLevel==0" href="#/faculty/createUser" class="waves-effect waves-light">Create New User</a></li>
			<li><a ng-if="userLevel==0" href="#/allClasses" class="waves-effect waves-light">View All School Years</a></li>
			<li><a ng-if="userLevel==0" href="#/new_class" class="waves-effect waves-light">Create New School Year</a></li>
			<li><a href="#/students" class="waves-effect waves-light">View Student Records</a></li>
			<li><a href="#/dashboard" class="waves-effect waves-light">Dashboard</a></li>
			<li><a ng-click='logout()' class="waves-effect waves-light">Log Out</a></li>
		</ul>
	</div>
</nav>

<h3>Welcome, {{firstName}}!</h3>
<div ng-repeat="section in sections">
	<h5>You have been assigned to: <a href="#/section/{{section._id}}">{{section.section}}</a>, Year: {{section._class.school_year}}</h5>
</div>
<div class="row">
	<div class="col s12 m6 l6">
		<h5>The DepEd Vision</h5>
		<p>
			We dream of Filipinos 
			who passionately love their country 
			and whose values and competencies  
			enable them to realize their full potential 
			and contribute meaningfully to building the nation.
		</p>
		<p>
			As a learner-centered public institution, 
			the Department of Education 
			continuously improves itself 
			to better serve its stakeholders. 
		</p>
	</div>
	<div class="col s12 m6 l6">
		<h5>The DepEd Mission</h5>
		<p>
			To protect and promote the right of every Filipino to quality, equitable, culture-based, and complete basic education where:
		</p>
		<p>
			<strong>Students</strong> learn in a child-friendly, gender-sensitive, safe, and motivating environment.
			<strong>Teachers</strong> facilitate learning and constantly nurture every learner.
			<strong>Administrators and staff</strong>, as stewards of the institution, ensure an enabling and supportive environment for effective learning to happen.
			<strong>Family, community, and other stakeholders</strong> are actively engaged and share responsibility for developing life-long learners.
		</p>
	</div>
</div>

<script>
	(function($){
		$(function(){
			$('.button-collapse').sideNav();
  }); // end of document ready
})(jQuery); // end of jQuery name space

</script>
