<h2>Edit Student Partial</h2>
<h4><a href="#/all_students">All Student Records</a></h4>
<h4><a href="#/students/{{student._id}}">Show Student Record</a></h4>
<form action="">
	First Name: <input type="text" ng-model="student.student_first">
	Middle Name: <input type="text" ng-model="student.student_middle">
	Last Name: <input type="text" ng-model="student.student_last">
	Student ID: <input type="text" ng-model="student.student_id">
	Student Email: <input type="text" ng-model="student.student_email">
  Student Email: <input type="text" ng-model='student.student_email'>
  Student Phone: <input type="text" ng-model='student.student_phone'>
	Mother First Name: <input type="text" ng-model="student.mother_first">
	Mother Middle Name: <input type="text" ng-model="student.mother_middle">
	Mother Last Name: <input type="text" ng-model="student.mother_last">
	Father First Name: <input type="text" ng-model="student.father_first">
	Father Middle Name: <input type="text" ng-model="student.father_middle">
	Father Last Name: <input type="text" ng-model="student.father_last">
	Parent Email: <input type="text" ng-model="student.student_email">
	Parent Phone: <input type="text" ng-model="student.student_phone">
	<input type="submit" ng-click="updateStudent()">
</form>
