<!-- <nav>
	<div class="nav-wrapper">
		<ul id="nav-mobile" class="right hide-on-med-and-down">
			<li><a ng-if="userLevel==0" href="#/faculty/allUsers">View All Users</a></li>
			<li><a ng-if="userLevel==0" href="#/faculty/createUser">Create New User</a></li>
			<li><a ng-if="userLevel==0" href="#/allClasses">View All School Years</a></li>
			<li><a ng-if="userLevel==0" href="#/new_class">Create New School Year</a></li>
			<li><a href="#/students">View Student Records</a></li>
			<li><a href="#/dashboard">Dashboard</a></li>
			<li><a ng-click='logout()'>Log Out</a></li>
		</ul>
	</div>
</nav> -->
<nav>
    <div class="nav-wrapper">
    <a href="#/dashboard" class="brand-logo">AEIRS</a>
        <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
        <ul class="right hide-on-med-and-down">
            <li><a ng-if="userLevel==0" href="#/faculty/allUsers">View All Users</a></li>
			<li><a ng-if="userLevel==0" href="#/faculty/createUser">Create New User</a></li>
			<li><a ng-if="userLevel==0" href="#/allClasses">View All School Years</a></li>
			<li><a ng-if="userLevel==0" href="#/new_class">Create New School Year</a></li>
			<li><a href="#/students">View Student Records</a></li>
			<li><a href="#/dashboard">Dashboard</a></li>
			<li><a ng-click='logout()'>Log Out</a></li>
        </ul>
        <ul class="side-nav" id="mobile-demo">
            <li><a ng-if="userLevel==0" href="#/faculty/allUsers">View All Users</a></li>
			<li><a ng-if="userLevel==0" href="#/faculty/createUser">Create New User</a></li>
			<li><a ng-if="userLevel==0" href="#/allClasses">View All School Years</a></li>
			<li><a ng-if="userLevel==0" href="#/new_class">Create New School Year</a></li>
			<li><a href="#/students">View Student Records</a></li>
			<li><a href="#/dashboard">Dashboard</a></li>
			<li><a ng-click='logout()'>Log Out</a></li>
        </ul>
    </div>
</nav>
<div class="row">
	<a href="#/faculty/allUsers">All User Records</a> | <a href="#/users/{{user._id}}">Show User Record</a>
	<form ng-submit="updateUser()" class="col s12">
		<div class="input-field col s6">
			<input id="first_name" type="text" class="validate" ng-model="user.firstName">
			<label for="first_name">First Name</label>
			{{errors.firstName.messages}}
		</div>
		<div class="input-field col s6">
			<input id="middle_name" type="text" class="validate" ng-model="user.middleName">
			<label for="middle_name">Middle Name</label>
			{{errors.middleName.messages}}
		</div>
		<div class="input-field col s6">
			<input id="last_name" type="text" class="validate" ng-model="user.lastName">
			<label for="last_name">Last Name</label>
			{{errors.lastName.messages}}
		</div>
		<div class="input-field col s6">
			<input id="emailAddress" type="email" class="validate" ng-model="user.emailAddress">
			<label for="emailAddress">Email Address</label>
			{{errors.emailAddress.messages}}
		</div>
		<div class="input-field col s6">
			<select id="userLevel" ng-model="user.userLevel">
				<option value="" selected>User Level</option>
				<option value="0">0 - Admin/Principal</option>
				<option value="1">1 - Faculty</option>
			</select>
			{{errors.userLevel.messages}}
		</div>
		<button class="btn waves-effect waves-light col s4 m4 l2 offset-s4 offset-m4 offset-l5" ng-click="submit" name="action">Update<i class="material-icons right">send</i></button>
	</form>


	<script type="text/javascript">
		$(document).ready(function() {
			$('select').material_select();
			$('#how_heard').trigger('autoresize');
			$('.datepicker').pickadate({
      selectMonths: true, // Creates a dropdown to control month
      selectYears: 15 // Creates a dropdown of 15 years to control year
  });
		});
	</script>
