<nav>
	<div class="nav-wrapper">
		<a href="#/dashboard" class="brand-logo">DBAES</a>
		<a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
		<ul class="right hide-on-med-and-down">
			<li><a ng-if="userLevel==0" href="#/faculty/allUsers" class="waves-effect waves-light">View All Users</a></li>
			<li><a ng-if="userLevel==0" href="#/faculty/createUser" class="waves-effect waves-light">Create New User</a></li>
			<li><a ng-if="userLevel==0" href="#/allClasses" class="waves-effect waves-light">View All School Years</a></li>
			<li><a ng-if="userLevel==0" href="#/new_class" class="waves-effect waves-light">Create New School Year</a></li>
			<li><a ng-if="userLevel==0" href="#/students" class="waves-effect waves-light">View Student Records</a></li>
			<li><a href="#/dashboard" class="waves-effect waves-light">Dashboard</a></li>
			<li><a ng-click='logout()' class="waves-effect waves-light">Log Out</a></li>
		</ul>
		<ul class="side-nav" id="mobile-demo">
			<li><a ng-if="userLevel==0" href="#/faculty/allUsers" class="waves-effect waves-light">View All Users</a></li>
			<li><a ng-if="userLevel==0" href="#/faculty/createUser" class="waves-effect waves-light">Create New User</a></li>
			<li><a ng-if="userLevel==0" href="#/allClasses" class="waves-effect waves-light">View All School Years</a></li>
			<li><a ng-if="userLevel==0" href="#/new_class" class="waves-effect waves-light">Create New School Year</a></li>
			<li><a ng-if="userLevel==0" href="#/students" class="waves-effect waves-light">View Student Records</a></li>
			<li><a href="#/dashboard" class="waves-effect waves-light">Dashboard</a></li>
			<li><a ng-click='logout()' class="waves-effect waves-light">Log Out</a></li>
		</ul>
	</div>
</nav>
<h2>Edit {{grades._student.student_first}}'s Grades</h2>

<p>partial to edit grades for a specific student</p>
<div class="row">
	<form class="col s12">
		<div class="input-field col s12 m4 l4">
			<input id="Quiz1" type="number" class="validate" ng-model="grade.quiz1">
			<label for="Quiz1">Quiz 1: {{grades.quiz1}}</label>
			{{errors.quiz1.messages}}
		</div>
		<div class="input-field col s12 m4 l4">
			<input id="Quiz2" type="number" class="validate" ng-model="grade.quiz2">
			<label for="Quiz2">Quiz 2: {{grades.quiz2}}</label>
			{{errors.quiz2.messages}}
		</div>
		<div class="input-field col s12 m4 l4">
			<input id="Quiz3" type="number" class="validate" ng-model="grade.quiz3">
			<label for="Quiz3">Quiz 3: {{grades.quiz3}}</label>
			{{errors.quiz3.messages}}
		</div>
		<div class="input-field col s12 m4 l4">
			<input id="Quiz4" type="number" class="validate" ng-model="grade.quiz4">
			<label for="Quiz4">Quiz 4: {{grades.quiz4}}</label>
			{{errors.quiz4.messages}}
		</div>
		<div class="input-field col s12 m4 l4">
			<input id="Quiz5" type="number" class="validate" ng-model="grade.quiz5">
			<label for="Quiz5">Quiz 5: {{grades.quiz5}}</label>
			{{errors.quiz5.messages}}
		</div>
		<div class="input-field col s12 m4 l4">
			<input id="Quiz6" type="number" class="validate" ng-model="grade.quiz6">
			<label for="Quiz6">Quiz 6: {{grades.quiz6}}</label>
			{{errors.quiz6.messages}}
		</div>
		<div class="input-field col s12 m4 l4">
			<input id="Quiz7" type="number" class="validate" ng-model="grade.quiz7">
			<label for="Quiz7">Quiz 7: {{grades.quiz7}}</label>
			{{errors.quiz7.messages}}
		</div>
		<div class="input-field col s12 m4 l4">
			<input id="Quiz8" type="number" class="validate" ng-model="grade.quiz8">
			<label for="Quiz8">Quiz 8: {{grades.quiz8}}</label>
			{{errors.quiz8.messages}}
		</div>
		<div class="input-field col s12 m4 l4">
			<input id="Quiz9" type="number" class="validate" ng-model="grade.quiz9">
			<label for="Quiz9">Quiz 9: {{grades.quiz9}}</label>
			{{errors.quiz9.messages}}
		</div>
		<div class="input-field col s12 m4 l4">
			<input id="Quiz10" type="number" class="validate" ng-model="grade.quiz10">
			<label for="Quiz10">Quiz 10: {{grades.quiz10}}</label>
			{{errors.quiz10.messages}}
		</div>
		<div class="input-field col s12 m4 l4">
			<input id="Quiz11" type="number" class="validate" ng-model="grade.quiz11">
			<label for="Quiz11">Quiz 11: {{grades.quiz11}}</label>
			{{errors.quiz11.messages}}
		</div>
		<div class="input-field col s12 m4 l4">
			<input id="Quiz12" type="number" class="validate" ng-model="grade.quiz12">
			<label for="Quiz12">Quiz 12: {{grades.quiz12}}</label>
			{{errors.quiz12.messages}}
		</div>
		<div class="input-field col s12 m4 l4">
			<input id="Quiz13" type="number" class="validate" ng-model="grade.quiz13">
			<label for="Quiz13">Quiz 13: {{grades.quiz13}}</label>
			{{errors.quiz13.messages}}
		</div>
		<div class="input-field col s12 m4 l4">
			<input id="Quiz14" type="number" class="validate" ng-model="grade.quiz14">
			<label for="Quiz14">Quiz 14: {{grades.quiz14}}</label>
			{{errors.quiz14.messages}}
		</div>
		<div class="input-field col s12 m4 l4">
			<input id="Quiz15" type="number" class="validate" ng-model="grade.quiz15">
			<label for="Quiz15">Quiz 15: {{grades.quiz15}}</label>
			{{errors.quiz15.messages}}
		</div>
		<div class="input-field col s12 m4 l4">
			<input id="Quiz16" type="number" class="validate" ng-model="grade.quiz16">
			<label for="Quiz16">Quiz 16: {{grades.quiz16}}</label>
			{{errors.quiz16.messages}}
		</div>
		<div class="input-field col s12 m4 l4">
			<input id="Quiz17" type="number" class="validate" ng-model="grade.quiz17">
			<label for="Quiz17">Quiz 17: {{grades.quiz17}}</label>
			{{errors.quiz17.messages}}
		</div>
		<div class="input-field col s12 m4 l4">
			<input id="Quiz18" type="number" class="validate" ng-model="grade.quiz18">
			<label for="Quiz18">Quiz 18: {{grades.quiz18}}</label>
			{{errors.quiz18.messages}}
		</div>
		<div class="input-field col s12 m4 l4">
			<input id="Quiz19" type="number" class="validate" ng-model="grade.quiz19">
			<label for="Quiz19">Quiz 19: {{grades.quiz19}}</label>
			{{errors.quiz19.messages}}
		</div>
		<div class="input-field col s12 m4 l4">
			<input id="Quiz20" type="number" class="validate" ng-model="grade.quiz20">
			<label for="Quiz20">Quiz 20: {{grades.quiz20}}</label>
			{{errors.quiz20.messages}}
		</div>
		<div class="input-field col s12 m4 l4">
			<input id="Quiz21" type="number" class="validate" ng-model="grade.quiz21">
			<label for="Quiz21">Quiz 21: {{grades.quiz21}}</label>
			{{errors.quiz21.messages}}
		</div>
		<div class="input-field col s12 m4 l4">
			<input id="Quiz22" type="number" class="validate" ng-model="grade.quiz22">
			<label for="Quiz22">Quiz 22: {{grades.quiz22}}</label>
			{{errors.quiz22.messages}}
		</div>
		<div class="input-field col s12 m4 l4">
			<input id="Quiz23" type="number" class="validate" ng-model="grade.quiz23">
			<label for="Quiz23">Quiz 23: {{grades.quiz23}}</label>
			{{errors.quiz23.messages}}
		</div>
		<div class="input-field col s12 m4 l4">
			<input id="Quiz24" type="number" class="validate" ng-model="grade.quiz24">
			<label for="Quiz24">Quiz 24: {{grades.quiz24}}</label>
			{{errors.quiz24.messages}}
		</div>
		<div class="input-field col s12 m4 l4">
			<input id="Quiz25" type="number" class="validate" ng-model="grade.quiz25">
			<label for="Quiz25">Quiz 25: {{grades.quiz25}}</label>
			{{errors.quiz25.messages}}
		</div>
		<div class="input-field col s12 m4 l4">
			<input id="Quiz26" type="number" class="validate" ng-model="grade.quiz26">
			<label for="Quiz26">Quiz 26: {{grades.quiz26}}</label>
			{{errors.quiz26.messages}}
		</div>
		<div class="input-field col s12 m4 l4">
			<input id="Quiz27" type="number" class="validate" ng-model="grade.quiz27">
			<label for="Quiz27">Quiz 27: {{grades.quiz27}}</label>
			{{errors.quiz27.messages}}
		</div>
		<div class="input-field col s12 m4 l4">
			<input id="Quiz28" type="number" class="validate" ng-model="grade.quiz28">
			<label for="Quiz28">Quiz 28: {{grades.quiz28}}</label>
			{{errors.quiz28.messages}}
		</div>
		<div class="input-field col s12 m4 l4">
			<input id="Quiz29" type="number" class="validate" ng-model="grade.quiz29">
			<label for="Quiz29">Quiz 29: {{grades.quiz29}}</label>
			{{errors.quiz29.messages}}
		</div>
		<div class="input-field col s12 m4 l4">
			<input id="Quiz30" type="number" class="validate" ng-model="grade.quiz30">
			<label for="Quiz30">Quiz 30: {{grades.quiz30}}</label>
			{{errors.quiz30.messages}}
		</div>
		<div class="input-field col s12 m4 l4">
			<input id="Quiz31" type="number" class="validate" ng-model="grade.quiz31">
			<label for="Quiz31">Quiz 31: {{grades.quiz31}}</label>
			{{errors.quiz31.messages}}
		</div>
		<div class="input-field col s12 m4 l4">
			<input id="Quiz32" type="number" class="validate" ng-model="grade.quiz32">
			<label for="Quiz32">Quiz 32: {{grades.quiz32}}</label>
			{{errors.quiz32.messages}}
		</div>
		<div class="input-field col s12 m4 l4">
			<input id="Quiz33" type="number" class="validate" ng-model="grade.quiz33">
			<label for="Quiz33">Quiz 33: {{grades.quiz33}}</label>
			{{errors.quiz33.messages}}
		</div>
		<div class="input-field col s12 m4 l4">
			<input id="Quiz34" type="number" class="validate" ng-model="grade.quiz34">
			<label for="Quiz34">Quiz 34: {{grades.quiz34}}</label>
			{{errors.quiz34.messages}}
		</div>
		<div class="input-field col s12 m4 l4">
			<input id="Quiz35" type="number" class="validate" ng-model="grade.quiz35">
			<label for="Quiz35">Quiz 35: {{grades.quiz35}}</label>
			{{errors.quiz35.messages}}
		</div>
		<div class="input-field col s12 m4 l4">
			<input id="Quiz36" type="number" class="validate" ng-model="grade.quiz36">
			<label for="Quiz36">Quiz 36: {{grades.quiz36}}</label>
			{{errors.quiz36.messages}}
		</div>
		<div class="input-field col s12 m4 l4">
			<input id="Quiz37" type="number" class="validate" ng-model="grade.quiz37">
			<label for="Quiz37">Quiz 37: {{grades.quiz37}}</label>
			{{errors.quiz37.messages}}
		</div>
		<div class="input-field col s12 m4 l4">
			<input id="Quiz38" type="number" class="validate" ng-model="grade.quiz38">
			<label for="Quiz38">Quiz 38: {{grades.quiz38}}</label>
			{{errors.quiz38.messages}}
		</div>
		<div class="input-field col s12 m4 l4">
			<input id="Quiz39" type="number" class="validate" ng-model="grade.quiz39">
			<label for="Quiz39">Quiz 39: {{grades.quiz39}}</label>
			{{errors.quiz39.messages}}
		</div>
		<div class="input-field col s12 m4 l4">
			<input id="Quiz40" type="number" class="validate" ng-model="grade.quiz40">
			<label for="Quiz40">Quiz 40: {{grades.quiz40}}</label>
			{{errors.quiz40.messages}}
		</div>
		<div class="input-field col s12 m4 l4">
			<input id="Exam1" type="number" class="validate" ng-model="grade.exam1">
			<label for="Exam1">Exam 1: {{grades.exam1}}</label>
			{{errors.exam1.messages}}
		</div>
		<div class="input-field col s12 m4 l4">
			<input id="Exam2" type="number" class="validate" ng-model="grade.exam2">
			<label for="Exam2">Exam 2: {{grades.exam2}}</label>
			{{errors.exam2.messages}}
		</div>
		<div class="input-field col s12 m4 l4">
			<input id="Exam3" type="number" class="validate" ng-model="grade.exam3">
			<label for="Exam3">Exam 3: {{grades.exam3}}</label>
			{{errors.exam3.messages}}
		</div>
		<div class="input-field col s12 m4 l4">
			<input id="Exam4" type="number" class="validate" ng-model="grade.exam4">
			<label for="Exam4">Exam 4: {{grades.exam4}}</label>
			{{errors.exam4.messages}}
		</div>
		<div class="input-field col s12 m4 l4">
			<input id="Attendance" type="number" class="validate" ng-model="grade.attendance">
			<label for="Attendance">Attendance: {{grades.attendance}}</label>
			{{errors.attendance.messages}}
		</div>
		
		<button class="btn waves-effect waves-light col s4 m4 l2 offset-s4 offset-m4 offset-l5" ng-click="updateGrade()">Update<i class="material-icons right">send</i></button>
	</form>
</div>
<div class="row">
	<div class="col s12 m4 l4">
		<p>Quiz 1: {{grades.quiz1}}</p>
		<p>Quiz 2: {{grades.quiz2}}</p>
		<p>Quiz 3: {{grades.quiz3}}</p>
		<p>Quiz 4: {{grades.quiz4}}</p>
		<p>Quiz 5: {{grades.quiz5}}</p>
	</div>
	<div class="col s12 m4 l4">
		<p>Quiz 6: {{grades.quiz6}}</p>
		<p>Quiz 7: {{grades.quiz7}}</p>
		<p>Quiz 8: {{grades.quiz8}}</p>
		<p>Quiz 9: {{grades.quiz9}}</p>
		<p>Quiz 10: {{grades.quiz10}}</p>
	</div>
	<div class="col s12 m4 l4">
		<p>Quiz 11: {{grades.quiz11}}</p>
		<p>Quiz 12: {{grades.quiz12}}</p>
		<p>Quiz 13: {{grades.quiz13}}</p>
		<p>Quiz 14: {{grades.quiz14}}</p>
		<p>Quiz 15: {{grades.quiz15}}</p>
	</div>
	<div class="col s12 m4 l4">
		<p>Quiz 16: {{grades.quiz16}}</p>
		<p>Quiz 17: {{grades.quiz17}}</p>
		<p>Quiz 18: {{grades.quiz18}}</p>
		<p>Quiz 19: {{grades.quiz19}}</p>
		<p>Quiz 20: {{grades.quiz20}}</p>
	</div>
	<div class="col s12 m4 l4">
		<p>Quiz 21: {{grades.quiz21}}</p>
		<p>Quiz 22: {{grades.quiz22}}</p>
		<p>Quiz 23: {{grades.quiz23}}</p>
		<p>Quiz 24: {{grades.quiz24}}</p>
		<p>Quiz 25: {{grades.quiz25}}</p>
	</div>
	<div class="col s12 m4 l4">
		<p>Quiz 26: {{grades.quiz26}}</p>
		<p>Quiz 27: {{grades.quiz27}}</p>
		<p>Quiz 28: {{grades.quiz28}}</p>
		<p>Quiz 29: {{grades.quiz29}}</p>
		<p>Quiz 30: {{grades.quiz30}}</p>
	</div>
	<div class="col s12 m4 l4">
		<p>Quiz 31: {{grades.quiz31}}</p>
		<p>Quiz 32: {{grades.quiz32}}</p>
		<p>Quiz 33: {{grades.quiz33}}</p>
		<p>Quiz 34: {{grades.quiz34}}</p>
		<p>Quiz 35: {{grades.quiz35}}</p>
	</div>
	<div class="col s12 m4 l4">
		<p>Quiz 36: {{grades.quiz36}}</p>
		<p>Quiz 37: {{grades.quiz37}}</p>
		<p>Quiz 38: {{grades.quiz38}}</p>
		<p>Quiz 39: {{grades.quiz39}}</p>
		<p>Quiz 40: {{grades.quiz40}}</p>
	</div>
	<div class="col s12 m4 l4">
		<p>Exam 1: {{grades.exam1}}</p>
		<p>Exam 2: {{grades.exam2}}</p>
		<p>Exam 3: {{grades.exam3}}</p>
		<p>Exam 4: {{grades.exam4}}</p>
		<p>Attendance: {{grades.attendance}}</p>
	</div>
</div>


<a href="#/student/{{grades._student._id}}">View Student's Record</a>
<script>
	(function($){
		$(function(){
			$('.button-collapse').sideNav();
  }); // end of document ready
})(jQuery); // end of jQuery name space

</script>
