<nav>
	<div class="nav-wrapper">
		<a href="#/dashboard" class="brand-logo">DBAES</a>
		<a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
		<ul class="right hide-on-med-and-down">
			<li><a ng-if="userLevel==0" href="#/faculty/allUsers" class="waves-effect waves-light">View All Users</a></li>
			<li><a ng-if="userLevel==0" href="#/faculty/createUser" class="waves-effect waves-light">Create New User</a></li>
			<li><a ng-if="userLevel==0" href="#/allClasses" class="waves-effect waves-light">View All School Years</a></li>
			<li><a ng-if="userLevel==0" href="#/new_class" class="waves-effect waves-light">Create New School Year</a></li>
			<li><a ng-if="userLevel==0" href="#/students" class="waves-effect waves-light">View Student Records</a></li>
			<li><a href="#/dashboard" class="waves-effect waves-light">Dashboard</a></li>
			<li><a ng-click='logout()' class="waves-effect waves-light">Log Out</a></li>
		</ul>
		<ul class="side-nav" id="mobile-demo">
			<li><a ng-if="userLevel==0" href="#/faculty/allUsers" class="waves-effect waves-light">View All Users</a></li>
			<li><a ng-if="userLevel==0" href="#/faculty/createUser" class="waves-effect waves-light">Create New User</a></li>
			<li><a ng-if="userLevel==0" href="#/allClasses" class="waves-effect waves-light">View All School Years</a></li>
			<li><a ng-if="userLevel==0" href="#/new_class" class="waves-effect waves-light">Create New School Year</a></li>
			<li><a ng-if="userLevel==0" href="#/students" class="waves-effect waves-light">View Student Records</a></li>
			<li><a href="#/dashboard" class="waves-effect waves-light">Dashboard</a></li>
			<li><a ng-click='logout()' class="waves-effect waves-light">Log Out</a></li>
		</ul>
	</div>
</nav>
<h2>Edit Student Record</h2>
<form action="">
	First Name: <input type="text" ng-model="student.student_first">
	Middle Name: <input type="text" ng-model="student.student_middle">
	Last Name: <input type="text" ng-model="student.student_last">
	Student ID: <input type="text" ng-model="student.student_id">
	Student Address: <input type="text" ng-model='student.student_email'>
	Student Phone: <input type="text" ng-model='student.student_phone'>
	Mother First Name: <input type="text" ng-model="student.mother_first">
	Mother Middle Name: <input type="text" ng-model="student.mother_middle">
	Mother Last Name: <input type="text" ng-model="student.mother_last">
	Father First Name: <input type="text" ng-model="student.father_first">
	Father Middle Name: <input type="text" ng-model="student.father_middle">
	Father Last Name: <input type="text" ng-model="student.father_last">
	Parent Email: <input type="text" ng-model="student.student_email">
	Parent Phone: <input type="text" ng-model="student.student_phone">
	<input type="submit" ng-click="updateStudent()">
</form>
<script>
	(function($){
		$(function(){
			$('.button-collapse').sideNav();
  }); // end of document ready
})(jQuery); // end of jQuery name space

</script>