<body ng-controller = 'loginController'>
	<div class="row">
		<div class="col s12 m6 l6">
			<h3 class="hoverable center-align">AEIRS Login</h3>
			<form ng-model = "userLogin" ng-submit = "login()">
				<div class="row">
					<div class="input-field col s12">
						<input id="loginUserName" type="text" class="validate"  ng-model = "userLogin.emailAddress" required>
						<label for="loginUserName">Username</label>
					</div>
				</div>
				<div class="row">
					<div class="input-field col s12">
						<input id="loginUserPassword" type="password" class="validate"  ng-model = "userLogin.password" required>
						<label for="loginUserPassword">Password</label>
					</div>
				</div>
				<div class="row center-align">
					<div class="input-field col s12">
						<input class="btn waves-effect waves-light" type="submit" value = "login">
					</div>
				</div>
			</form>
			{{errors.login_reg.message}}
		</div>
		<div class="col s12 m6 l6">
			<div class="card hoverable">
				<div class="card-image waves-effect waves-block waves-light">
					<img class="activator" src="images/logo002.jpg">
				</div>
				<div class="card-content">
					<span class="card-title activator grey-text text-darken-4">Department of Education<i class="material-icons right">more_vert</i></span>
					<p><a href="http://www.deped.gov.ph/">Department of Education</a></p>
				</div>
				<div class="card-reveal">
					<span class="card-title grey-text text-darken-4">Department of Education<i class="material-icons right">close</i></span>
					<p>
						We dream of Filipinos 
						who passionately love their country 
						and whose values and competencies  
						enable them to realize their full potential 
						and contribute meaningfully to building the nation.
					</p>
					<p>
						As a learner-centered public institution, 
						the Department of Education 
						continuously improves itself 
						to better serve its stakeholders. 
					</p>
				</div>
			</div>
		</div>
	</div>
</body>
