<nav>
	<div class="nav-wrapper">
		<a href="#/dashboard" class="brand-logo">DBAES</a>
		<a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
		<ul class="right hide-on-med-and-down">
			<li><a ng-if="userLevel==0" href="#/faculty/allUsers" class="waves-effect waves-light">View All Users</a></li>
			<li><a ng-if="userLevel==0" href="#/faculty/createUser" class="waves-effect waves-light">Create New User</a></li>
			<li><a ng-if="userLevel==0" href="#/allClasses" class="waves-effect waves-light">View All School Years</a></li>
			<li><a ng-if="userLevel==0" href="#/new_class" class="waves-effect waves-light">Create New School Year</a></li>
			<li><a ng-if="userLevel==0" href="#/students" class="waves-effect waves-light">View Student Records</a></li>
			<li><a href="#/dashboard" class="waves-effect waves-light">Dashboard</a></li>
			<li><a ng-click='logout()' class="waves-effect waves-light">Log Out</a></li>
		</ul>
		<ul class="side-nav" id="mobile-demo">
			<li><a ng-if="userLevel==0" href="#/faculty/allUsers" class="waves-effect waves-light">View All Users</a></li>
			<li><a ng-if="userLevel==0" href="#/faculty/createUser" class="waves-effect waves-light">Create New User</a></li>
			<li><a ng-if="userLevel==0" href="#/allClasses" class="waves-effect waves-light">View All School Years</a></li>
			<li><a ng-if="userLevel==0" href="#/new_class" class="waves-effect waves-light">Create New School Year</a></li>
			<li><a ng-if="userLevel==0" href="#/students" class="waves-effect waves-light">View Student Records</a></li>
			<li><a href="#/dashboard" class="waves-effect waves-light">Dashboard</a></li>
			<li><a ng-click='logout()' class="waves-effect waves-light">Log Out</a></li>
		</ul>
	</div>
</nav>

<div class="row center-align">
	<h2>Section: {{section.section}}</h2>
</div>
<h4>Assigned Teacher: {{section._faculty.lastName}}, {{section._faculty.firstName}}</h4>
<a href="#/section/{{section._id}}/add_student">Add Student to this Section</a> <div ng-if="userLevel==0" >| <a href="#/section/{{section._id}}/assign_faculty">Assign Faculty to this Section</a></div>

<div ng-repeat= "student in section.students">
	<div class="row">
		<div class="col s12 m6 l6">
			<h5>Student Name: <a href="#/student/{{student._id}}">{{student.student_last}}, {{student.student_first}} </a></p></h5>
			<button type='button' class="btn waves-effect waves-light" ng-click="studentGradeText(student, 1)">Text 1st Quarter Grades to Parents</button>
      <button type='button' class="btn waves-effect waves-light" ng-click="studentGradeText(student, 2)">Text 2nd Quarter Grades to Parents</button>
      <button type='button' class="btn waves-effect waves-light" ng-click="studentGradeText(student, 3)">Text 3rd Quarter Grades to Parents</button>
      <button type='button' class="btn waves-effect waves-light" ng-click="studentGradeText(student, 4)">Text 4th Quarter Grades to Parents</button>
		</div>
		<div class="col s12 m6 l6">
			<div class="row" ng-repeat="subject in student._grades">
				<h6><a href="#/subject/{{subject._id}}">{{subject.subject}}</a></h6>
				<div class="col s12 m4 l4">
					<p>Quiz 1: {{subject.quiz1}}</p>
					<p>Quiz 2: {{subject.quiz2}}</p>
					<p>Quiz 3: {{subject.quiz3}}</p>
					<p>Quiz 4: {{subject.quiz4}}</p>
					<p>Quiz 5: {{subject.quiz5}}</p>
				</div>
				<div class="col s12 m4 l4">
					<p>Quiz 6: {{subject.quiz6}}</p>
					<p>Quiz 7: {{subject.quiz7}}</p>
					<p>Quiz 8: {{subject.quiz8}}</p>
					<p>Quiz 9: {{subject.quiz9}}</p>
					<p>Quiz 10: {{subject.quiz10}}</p>
				</div>
				<div class="col s12 m4 l4">
					<p>Quiz 11: {{subject.quiz11}}</p>
					<p>Quiz 12: {{subject.quiz12}}</p>
					<p>Quiz 13: {{subject.quiz13}}</p>
					<p>Quiz 14: {{subject.quiz14}}</p>
					<p>Quiz 15: {{subject.quiz15}}</p>
				</div>
				<div class="col s12 m4 l4">
					<p>Quiz 16: {{subject.quiz16}}</p>
					<p>Quiz 17: {{subject.quiz17}}</p>
					<p>Quiz 18: {{subject.quiz18}}</p>
					<p>Quiz 19: {{subject.quiz19}}</p>
					<p>Quiz 20: {{subject.quiz20}}</p>
				</div>
				<div class="col s12 m4 l4">
					<p>Quiz 21: {{subject.quiz21}}</p>
					<p>Quiz 22: {{subject.quiz22}}</p>
					<p>Quiz 23: {{subject.quiz23}}</p>
					<p>Quiz 24: {{subject.quiz24}}</p>
					<p>Quiz 25: {{subject.quiz25}}</p>
				</div>
				<div class="col s12 m4 l4">
					<p>Quiz 26: {{subject.quiz26}}</p>
					<p>Quiz 27: {{subject.quiz27}}</p>
					<p>Quiz 28: {{subject.quiz28}}</p>
					<p>Quiz 29: {{subject.quiz29}}</p>
					<p>Quiz 30: {{subject.quiz30}}</p>
				</div>
				<div class="col s12 m4 l4">
					<p>Quiz 31: {{subject.quiz31}}</p>
					<p>Quiz 32: {{subject.quiz32}}</p>
					<p>Quiz 33: {{subject.quiz33}}</p>
					<p>Quiz 34: {{subject.quiz34}}</p>
					<p>Quiz 35: {{subject.quiz35}}</p>
				</div>
				<div class="col s12 m4 l4">
					<p>Quiz 36: {{subject.quiz36}}</p>
					<p>Quiz 37: {{subject.quiz37}}</p>
					<p>Quiz 38: {{subject.quiz38}}</p>
					<p>Quiz 39: {{subject.quiz39}}</p>
					<p>Quiz 40: {{subject.quiz40}}</p>
				</div>
				<div class="col s12 m4 l4">
					<p>Exam 1: {{subject.exam1}}</p>
					<p>Exam 2: {{subject.exam2}}</p>
					<p>Exam 3: {{subject.exam3}}</p>
					<p>Exam 4: {{subject.exam4}}</p>
					<p>Attendance: {{subject.attendance}}</p>
				</div>
			</div>
		</div>
	</div>
</div>

<script>
	(function($){
		$(function(){
			$('.button-collapse').sideNav();
  }); // end of document ready
})(jQuery); // end of jQuery name space

</script>
