<nav>
	<div class="nav-wrapper">
		<a href="#/dashboard" class="brand-logo">AEIRS</a>
		<a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
		<ul class="right hide-on-med-and-down">
			<li><a ng-if="userLevel==0" href="#/faculty/allUsers" class="waves-effect waves-light">View All Users</a></li>
			<li><a ng-if="userLevel==0" href="#/faculty/createUser" class="waves-effect waves-light">Create New User</a></li>
			<li><a ng-if="userLevel==0" href="#/allClasses" class="waves-effect waves-light">View All School Years</a></li>
			<li><a ng-if="userLevel==0" href="#/new_class" class="waves-effect waves-light">Create New School Year</a></li>
			<li><a href="#/students" class="waves-effect waves-light">View Student Records</a></li>
			<li><a href="#/dashboard" class="waves-effect waves-light">Dashboard</a></li>
			<li><a ng-click='logout()' class="waves-effect waves-light">Log Out</a></li>
		</ul>
		<ul class="side-nav" id="mobile-demo">
			<li><a ng-if="userLevel==0" href="#/faculty/allUsers" class="waves-effect waves-light">View All Users</a></li>
			<li><a ng-if="userLevel==0" href="#/faculty/createUser" class="waves-effect waves-light">Create New User</a></li>
			<li><a ng-if="userLevel==0" href="#/allClasses" class="waves-effect waves-light">View All School Years</a></li>
			<li><a ng-if="userLevel==0" href="#/new_class" class="waves-effect waves-light">Create New School Year</a></li>
			<li><a href="#/students" class="waves-effect waves-light">View Student Records</a></li>
			<li><a href="#/dashboard" class="waves-effect waves-light">Dashboard</a></li>
			<li><a ng-click='logout()' class="waves-effect waves-light">Log Out</a></li>
		</ul>
	</div>
</nav>
<h2>{{grade_level.grade_level}}, {{grade_level._class.school_year}}</h2>

<p>{{grade_level.grade_level}}</p>
<form action="">
	<select ng-model="newSection.section_quantity">
		<option value="" disabled selected>Choose Number of Sections</option>
		<option value="1">1</option>
		<option value="2">2</option>
		<option value="3">3</option>
		<option value="4">4</option>
		<option value="5">5</option>
		<option value="6">6</option>
		<option value="7">7</option>
		<option value="8">8</option>
		<option value="9">9</option>
		<option value="10">10</option>
		<option value="11">11</option>
		<option value="12">12</option>
	</select>
	<input type="submit" ng-click="createSection()">
</form>
<script src="js/init.js"></script>

<p><a href="#/allClasses">Back to Class List</a></p>
<p><a href="#/grade/{{grade_level._id}}/sections">All Sections</a></p>
<script>
	(function($){
		$(function(){
			$('.button-collapse').sideNav();
  }); // end of document ready
})(jQuery); // end of jQuery name space

</script>