<nav>
	<div class="nav-wrapper">
		<ul id="nav-mobile" class="right hide-on-med-and-down">
			<li><a ng-if="userLevel==0" href="#/faculty/allUsers">View All Users</a></li>
			<li><a ng-if="userLevel==0" href="#/faculty/createUser">Create New User</a></li>
			<li><a ng-if="userLevel==0" href="#/allClasses">View All School Years</a></li>
			<li><a ng-if="userLevel==0" href="#/new_class">Create New School Year</a></li>
			<li><a href="#/students">View Student Records</a></li>
			<li><a href="#/dashboard">Dashboard</a></li>
			<li><a ng-click='logout()'>Log Out</a></li>
		</ul>
	</div>
</nav>
<h1>{{student.student_first}}'s Student Record</h1>

<p>Student Name: {{student.student_first}} {{student.student_middle}} {{student.student_last}}</p>
<p>Student ID: {{student._id}}</p>
<p>Email Address: {{student.student_email}}</p>
<p>Phone Number: {{student.student_phone}}</p>
<p>Mother's Name: {{student.mother_first}} {{student.mother_middle}} {{student.mother_last}}</p>
<p>Father's Name: {{student.father_first}} {{student.father_middle}} {{student.father_last}}</p>
<p>Parent Email: {{student.parent_email}}</p>
<p>Parent Phone: {{student.parent_phone}}</p>
<a href="#/student/{{student._id}}/edit">Edit Student</a> | <a href="#/student/{{student._id}}/grades">Student Grades</a>
