<nav>
	<div class="nav-wrapper">
		<ul id="nav-mobile" class="right hide-on-med-and-down">
			<li><a ng-if="userLevel==0" href="#/faculty/allUsers">View All Users</a></li>
			<li><a ng-if="userLevel==0" href="#/faculty/createUser">Create New User</a></li>
			<li><a ng-if="userLevel==0" href="#/allClasses">View All School Years</a></li>
			<li><a ng-if="userLevel==0" href="#/new_class">Create New School Year</a></li>
			<li><a href="#/students">View Student Records</a></li>
			<li><a href="#/dashboard">Dashboard</a></li>
			<li><a ng-click='logout()'>Log Out</a></li>
		</ul>
	</div>
</nav>
<h2>this is show section for {{section.section}}</h2>

<a href="#/section/{{section._id}}/add_student">Add Student to this Section</a>
<div ng-repeat= "student in students">
	<h3>Student Name: {{student.student_first}} {{student.student_last}}</h3>
	<h4>Student ID: {{student.student_id}}</h4>
	<h4>Student Email: {{student.student_email}}</h4>
	<h4><a href="#/students/{{student._id}}">Show Student Record</a></h4>
	<h4><a href="#/students/{{student._id}}/edit">Edit Student Record</a></h4>
	<hr>
</div>